.cardviewEventsbody {
  background-color: #f8f9fa;
}

.cardviewEvents {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cardviewEvents:hover {
  transform: scale(1.05);
}

.cardviewEvents-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}
